/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
 @import "bootstrap";
 @import 'font-awesome-sprockets';
 @import 'font-awesome';

 * {
  box-sizing: border-box;
 }

 img{
  object-fit: cover;
}

 .slick-slider{
  opacity: 0;
  width: 100%;
  height: auto;
 }

 .slick-initialized{
  opacity: 1;
}


//画像の縦横比弄りたいときはここ
// .slick-slide img{
//  width: 50%;
//  height: auto;
// }

 .slick-next:before {
    color: black;
}

 .slick-prev:before {
    color: black;
}

 .says {
  display: inline-block;
  position: relative;
  margin: 0 0 0 50px;
  padding: 10px;
  max-width: 300px;
  border-radius: 12px;
  background: #edf1ee;
}

.says:after {
  content: "";
  display: inline-block;
  position: absolute;
  top: 3px;
  left: -19px;
  border: 8px solid transparent;
  border-right: 18px solid #edf1ee;
  -webkit-transform: rotate(35deg);
  transform: rotate(35deg);
}
.says p {
  margin: 0;
  padding: 0;
}

.notice{
  color: green;
  margin-left: 80px;
}

.alert{
  color: red;
  margin-left: 80px;
}

.field_with_errors {
  display: contents;
}