<div class="container">
  <div class="row">
    <div class="col-md-5 my-5">
      <h1>マイページ</h1>
    </div>
  </div>

  <div class="container ml-5">
    <div class="row">
      <h2 class="col-md-6 ml-3">
        ユーザー情報
        <%= link_to "編集する", edit_user_path(current_user.id), class: "btn btn-success col-md-3 ml-4" %>
      </h2>
    </div>
    
    
    
    <table class="table table-bordered col-md-8">
      <tr>
      </tr>
    </table>
  </div>