<div class="container">
  <div class="row">
    <div class="col-md-12 my-5 text-center">
      <h1>Schedule Managerについて</h1>
    </div>
  </div>


  <div class="row">
    <div class="col-md-12 my-5 text-center">
      <p>Schedule Managerは、みんなで集まりたい日1日ごとの予定を作成し、<br>
        その日集まる参加者を確認することができるサイトです。<br>
        <br>
        使い方はイベントを新規作成し、<br>
        できたURLを来てほしい人に送って、予定状況を記入してもらうだけ！<br>
        <br>
        その後「いつのイベントなのか」「だれが参加するのか」を、<br>
        いつでもURL上で確認することができます。
    </div>
  </div>